# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*.log
.idea/

# Node
node_modules/
dist/
coverage/
*.tsbuildinfo

# Go
bin/
*.exe
*.test
*.out

# Env
.env
.env.local

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Assets/AssetStoreTools*

# Unity generated meta for packages cache
Packages/packages-lock.json

# Admin web
admin-web/node_modules/
admin-web/dist/

# Infra data
infra/data/
